// 首页内容宽度更改为页面的 75%
.home-blog
  .home-blog-wrapper
    width :75%
    
 // 文章页内容宽度更改为页面的 50%  
.page
  .page-title
    max-width :50%
  .content__default:not(.custom)
    max-width :50%
  .page-nav
    max-width :50%
    
.comments-wrapper
  max-width :50% !important
